<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<style>
	.view_table{
		border:1px solid #dedede;
		font-size:10px;
		text-align:center;
		line-height:30px;
		width:800px;
	}
	.view_table>tr>td{
		text-align:center;
	}
</style>
</head>
<!-- 회원 번호, 아이디, 비번, 폰번호, 주소, 이메일, 성별, 가입일  -->
<body>
	<div id="content">
		<div id="content_inner">
			<table id=view_table>
			  <thead style="background-color: gainsboro">
                    <td width="15%">회원번호</td>
                    <td width="10%">아이디</td>
                    <td width="15%">폰번호</td>
                    <td width="25%">주소</td>
                    <td width="15%">이메일</td>
                    <td width="10%">성별</td>
                    <td width>가입일</td>
                </thead>
                 <tr>
                 	<td>1234567</td>
                 	<td>gyuri</td>
                 	<td>01011112222</td>
                 	<td>서울시 노원구 아파트 111-222</td>
                 	<td>gyuri@iei.or.kr</td>
                 	<td>여자</td>
                 	<td>2018-10-19</td>
                 </tr>
			</table>
		</div>
	</div>
</body>
</html>