<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
   <style>
       .red{
           color:red;
       }
    </style>
</head>
<body>
    <div class="right_wrap">
        <fieldset class="edit_title">
            <legend><h3 class="title">카테고리/공연명</h3></legend>
            <div class="edit">
                <div class="write_wrap">
                    <select class="category_select" name="category" style="display : none;">
                        <option value="">카테고리 선택</option>
                        <option value="085">버스킹</option>
                        <option value="086">연극</option>
                        <option value="087">콘서트</option>
                        <option value="088">기타</option>
                    </select>
                    <input id="title" type="text" name="title" class="title_input" placeholder="공연명을 입력해 주세요." value="" maxlength="64" autofocus="autofocus">
                </div>
                <div class="tip_txt">
                    <span class="red">*</span>
                </div>
            </div>
        </fieldset>
    </div>
</body>
</html>