
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<!--
    <link href="../reserve/calendar_comm.css" rel="stylesheet" type="text/css">
    <link href="../reserve/calendar.css" rel="stylesheet" type="text/css">
-->
</head>
    
<body>
    <div class="calendar">
        <div class="calendar-header">
            <a class="prev-mon" title="이전달"><span>이전달</span></a>
            <a class="next-mon" title="다음달"><span>다음달</span></a>

            <div class="current-mon"><span class="year-month">2018.10</span></div>
        </div>
        <div class="calendar-body">
            <table>
                <thead>
                <tr>
                    <th><span title="일요일">일</span></th>
                    <th><span title="월요일">월</span></th>
                    <th><span title="화요일">화</span></th>
                    <th><span title="수요일">수</span></th>
                    <th><span title="목요일">목</span></th>
                    <th><span title="금요일">금</span></th>
                    <th><span title="토요일">토</span></th>
                </tr>
                </thead>
                <tbody>
                    <tr class="calendar-week"> <!-- 달력의 한 주에 해당하는 엘리먼트 컨테이너 -->
                        <td class="calendar-date calendar-sun">30</td>
                        <!-- 날짜가 표시될 엘리먼트 -->
                        <td class="calendar-date">1</td>
                        <td class="calendar-date">2</td>
                        <td class="calendar-date">3</td>
                        <td class="calendar-date">4</td>
                        <td class="calendar-date">5</td>
                        <td class="calendar-date calendar-sat">6</td>
                    </tr>
                    <tr class="calendar-week"> <!-- 달력의 한 주에 해당하는 엘리먼트 컨테이너 -->
                        <td class="calendar-date calendar-sun">7</td>
                        <!-- 날짜가 표시될 엘리먼트 -->
                        <td class="calendar-date">8</td>
                        <td class="calendar-date">9</td>
                        <td class="calendar-date">10</td>
                        <td class="calendar-date">11</td>
                        <td class="calendar-date">12</td>
                        <td class="calendar-date calendar-sat">13</td>
                    </tr>
                    <tr class="calendar-week"> <!-- 달력의 한 주에 해당하는 엘리먼트 컨테이너 -->
                        <td class="calendar-date calendar-sun">14</td>
                        <!-- 날짜가 표시될 엘리먼트 -->
                        <td class="calendar-date">15</td>
                        <td class="calendar-date calendar-today">16</td>
                        <td class="calendar-date">17</td>
                        <td class="calendar-date"><a href="javascript:;">18</a></td>
                        <td class="calendar-date"><a href="javascript:;">19</a></td>
                        <td class="calendar-date calendar-sat"><a href="javascript:;">20</a></td>
                    </tr>
                    <tr class="calendar-week"> <!-- 달력의 한 주에 해당하는 엘리먼트 컨테이너 -->
                        <td class="calendar-date calendar-sun"><a href="javascript:;">21</a></td>
                        <!-- 날짜가 표시될 엘리먼트 -->
                        <td class="calendar-date">22</td>
                        <td class="calendar-date"><a href="javascript:;">23</a></td>
                        <td class="calendar-date"><a href="javascript:;">24</a></td>
                        <td class="calendar-date"><a href="javascript:;">25</a></td>
                        <td class="calendar-date"><a href="javascript:;">26</a></td>
                        <td class="calendar-date calendar-sat"><a href="javascript:;">27</a></td>
                    </tr>
                    <tr class="calendar-week"> <!-- 달력의 한 주에 해당하는 엘리먼트 컨테이너 -->
                        <td class="calendar-date calendar-sun"><a href="javascript:;">28</a></td>
                        <!-- 날짜가 표시될 엘리먼트 -->
                        <td class="calendar-date">29</td>
                        <td class="calendar-date"><a href="javascript:;">30</a></td>
                        <td class="calendar-date"><a href="javascript:;">31</a></td>
                        <td class="calendar-date calendar-next-mon"><a href="javascript:;">1</a></td>
                        <td class="calendar-date calendar-next-mon"><a href="javascript:;">2</a></td>
                        <td class="calendar-date calendar-next-mon calendar-sat"><a href="javascript:;">3</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>