<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



	<div id="inner">
		<div id="result_wrap">
			<p id="resultText"><em>검색어</em>에 대한 검색 결과입니다.</p>
			<br><br>
			
			<div id="detailBox">
				<ul>
					<li><a href="#" class="result_info">
                                                        <span class="img_box">
                                                            <img src="" width="110px" height="134px">
                                                        </span>
                                                        <div class="bx_tit">
                                                            <span class="info_tit">
                                                                <strong class="tit">공연명</strong>
                                                            </span>
                                                            <dl>
                                                                <dt>장&nbsp;&nbsp;&nbsp;소 :</dt>
                                                                <dd>장소 @@아트홀</dd>
                                                                <dt>기&nbsp;&nbsp;&nbsp;간 :</dt>
                                                                <dd>
                                                                    StartDate
                                                                    ~
                                                                    EndDate
                                                                </dd>
                                                                
                                                                
                                                                    <dt>관람가 :</dt>
                                                                    <dd>VIP석 120,000원/ R석 100,000원/ S석 80,000원/ A석 60,000원</dd>
                                                                
                                                            </dl>
                                                        </div>
                                          </a></li>
				</ul>
			</div>
			
				
		</div>

	</div>

</body>
</html>