<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



	<div id="inner">
		<div id="result_wrap">
			<p id="resultText"><em></em>에 대한 검색 결과입니다.</p>
			<br><br>
			
			<div id="detailBox">
				<ul>
					<li><a href="#" class="result_info">
                                                        <span class="img_box">
                                                            <img src="http://image.toast.com/aaaaab/ticketlink/TKL_1/MNPS_1026.jpg" width="110px" height="134px" alt="공연 포스터">
                                                        </span>
                                                        <div class="bx_tit">
                                                            <span class="info_tit">
                                                                <strong class="tit">뮤지컬〈메노포즈〉</strong>
                                                            </span>
                                                            <dl>
                                                                <dt>장&nbsp;&nbsp;&nbsp;소 :</dt>
                                                                <dd>광림아트센터 BBCH홀</dd>
                                                                <dt>기&nbsp;&nbsp;&nbsp;간 :</dt>
                                                                <dd>
                                                                    2018.11.27
                                                                    ~
                                                                    2019.01.20
                                                                </dd>
                                                                
                                                                
                                                                    <dt>관람가 :</dt>
                                                                    <dd>VIP석 120,000원/ R석 100,000원/ S석 80,000원/ A석 60,000원</dd>
                                                                
                                                            </dl>
                                                        </div>
                                          </a></li>
				</ul>
			</div>
			
				
		</div>

	</div>

</body>
</html>