@charset "UTF-8";

    /*예매리스트관리 페이지*/
    h2.main_title{
        display: inline-block;
        font-size: 23px;
        font-weight: normal;
    }
    
    #content .top_area{
        height:5%;
        border-bottom: 1px solid #d8d8d8;
    }
    
    /*예매테이블*/
    .reserveTbl{
            border:1px solid #dedede;
            border-right:0;
            font-size:15px;
            margin:40px auto 12px;
            line-height:35px;
            width:900px;
            text-align: center;
            
    }
    
    .reserveTbl tr:nth-child(2n){
        background-color: #F6F6F6;
        
    }
    .content_wrap .searchArea{
        height:10%;
        padding: 30px;
    }