@charset "UTF-8";

#wrap_reserve{
/*    border: 5px dotted; border-color: black;*/
    position:relative;
    width:990px; height:100%;
    box-sizing: content-box;
/*    background-color: aqua;*/
}

#header{
/*    border: 3px solid; border-color: red;*/
    position:fixed;
    width:990px; height: 100px;
    box-sizing: border-box;
/*  background-color: aquamarine;*/
}

#container{
/*    border: 3px solid; border-color: blue;*/
    width: 100%; height: 600px;
    position: relative;
    padding-top: 100px;
    box-sizing: border-box;
/*  background-color: aquamarine;*/
}


/*---------------------- header ----------------------*/

.reserve_title{
/*    border: 3px dashed; border-color: red;*/
    width: 100%; height: 60%;
    box-sizing: border-box;
    padding:13px 2px 15px 30px;
    font-size:0px;
}


.reserve_title h1{
/*    border: 1px dashed; border-color: red;*/
    width:85px; height:28px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right:2px;
    vertical-align:middle;
    display:inline-block;
    font-size: 18px;
}


.reserve_title h2{
/*    border: 1px dashed; border-color: blue;*/
    width:29px; height:17px;
    vertical-align:middle;
    font-size: 13px;
    display:inline-block;
}


.reserve_step{
/*    border: 1px dashed; border-color: black;*/
    width: 100%; height: 40%;
    box-sizing: border-box;
    display: block;
    font-size: 0px;
    margin: 0; padding: 0;
    background-color: lightgrey;
    color: gray;
    font-weight: 600;
}
.reserve_step li{
/*    border: 1px dashed; border-color: black;*/
    width: 25%; height: 100%;
    box-sizing: border-box;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    margin: 0
}
.reserve_step li span{
/*    border: 1px dashed; border-color: black;*/
    width: 100%; height: 100%;
    box-sizing: border-box;
    display: inline-grid;
    align-items: center;
}
/*---------------------- /header ----------------------*/

/*---------------------- container ----------------------*/

.reserve_content{
/*    border: 4px solid; border-color: greenyellow;*/
    width: 100%; height: 100%;
    box-sizing: border-box;
}
.reserve_left{
/*    border: 5px solid; border-color: skyblue;*/
    width: 70%; height: 100%;
    float: left;
    box-sizing: border-box;
}
.reserve_right{
/*    border: 5px solid; border-color: deeppink;*/
    width: 30%; height: 100%;
    float: left;
    box-sizing: border-box;
}


/*--------- reserve_left ---------*/
/*각 스텝에 따른 스타일 적용*/
/*--------- /reserve_left ---------*/


/*--------- reserve_right ---------*/
/*각 스텝에 따른 스타일 적용*/

.reserve_btn{
/*    border: 5px dashed; border-color: black;*/
    width: 100%; height: 12%;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
} 

/*--- reserve_btn ---*/
.reserve_btn>a{
    border: 1px solid; border-color: skyblue; /*고정*/
    width: 45%; height: 95%;
    margin-left: 2.5%; margin-right: 2.5%;
    display: block;
    float: left;
    box-sizing: border-box;
    display: inline-grid;
    align-items: center;
    text-decoration: none;
    color: dodgerblue;
    font-weight: 600;
    border-radius: 5px;
}
/*--- /reserve_btn ---*/

/*--------- /reserve_right ---------*/

/*---------------------- /container ----------------------*/

