@charset "UTF-8";

#wrap_reserve{}

#header{}

#container{}

/*---------------------- header ----------------------*/
.reserve_title{}

.reserve_title h1{}

.reserve_title h2{}

.reserve_step{}
.reserve_step li{}
.reserve_step li span{}

    /*--reserve_step li--*/
    .reserve_step li[class=step2]{
        background-color: skyblue;
    }
    /*--/reserve_step li--*/

/*---------------------- /header ----------------------*/
/*---------------------- container ----------------------*/

.reserve_content{}
.reserve_left{}
.reserve_right{}

/*--------- reserve_left ---------*/
.reserve_show_info{
/*  border: 1px solid; border-color: cyan;*/
    width: 100%; height: 10%;
    box-sizing: border-box;
}
#main_view_top{
    border: 1px solid; border-color: gray;
    width: 100%; height: 90%;
    box-sizing: border-box;
}
    /*-- reserve_show_info --*/
    .show_etc_info{
        border: 1px dotted; border-color: gray;
        float: right;
    }
    .show_title{
        border: 1px dashed; border-color: gray;
        width: 100%; height: 100%;
        box-sizing: border-box;
        font-size: 22px;
        line-height: 230%;
        padding: 0;
    }
    .show_title h4{ /*공연명*/
        border: 1px dotted; border-color: grey;
        margin: 0;
        width: 100%; height: 100%;
        box-sizing: border-box;
    }
    /*-- /reserve_show_info --*/
    /*-- main_view_top --*/
    #select_seat{
        border: 1px dashed; border-color: gray;
        width: 100%; height: 90%;
        box-sizing: border-box;
        display: block;
    }
    .select_seat_info{
        border: 1px dashed; border-color: gray;
        width: 100%; height: 10%;
        box-sizing: border-box;
    }
    /*-- /main_view_top --*/

/*--------- /reserve_left ---------*/
/*--------- reserve_right ---------*/

.top_info_area{
    border: 1px dashed; border-color: gray;
    width: 100%; height: 28%;
    box-sizing: border-box;
}

.reserve_grade{
    border: 1px dashed; border-color: gray;
    width: 100%; height: 60%;
    box-sizing: border-box;
}

.reserve_btn{}

    /*-- .reserve_grade --*/
    .reserve_grade>.bx_tit{
        border: 3px dotted; border-color: aqua;
        width: 100%; height: 25px;
        box-sizing: border-box;
    }
    #select_seat_grade{
/*      border: 3px solid; border-color: red;*/
        margin: 0; padding: 10px;
        list-style: none;
    }
    /*-- /.reserve_grade --*/


    /*-- .reserve_grade --*//*공통*/
    .reserve_grade .bx_tit h4{
    /*        border: 3px solid; border-color: blue;*/
        display: inline;
        margin: 0;
    }
    .reserve_grade .bx_tit>a,
    .reserve_grade .bx_tit>p{
    /*  border: 3px dashed; border-color: red;*/
        float: right; margin: 0;
        display: inline;
        font-size: 14px;
    }
    /*-- /.reserve_grade --*//*공통*/


    /*--- reserve_btn ---*/
    .reserve_btn>a{}
    .reserve_btn>a>span{}
    /*--- /reserve_btn ---*/

/*--------- /reserve_right ---------*/

/*---------------------- /container ----------------------*/



.seat_a {
    position: absolute;
    background: url(../img/seat_available.bmp) no-repeat;
    height: 12px;
    width: 11px;
    z-index: 10;
}


.seat_r {
    position: absolute;
    background: url(../img/seat_reserved.gif) no-repeat;
    height: 12px;
    width: 11px;
    z-index: 10;
}

.seat_p {
    position: absolute;
    background: url(../img/seat_reserved.gif) no-repeat;
    height: 12px;
    width: 11px;
    z-index: 10;
}

.selected {
    position: absolute;
    background: url(../img/seat_selected.bmp) no-repeat;
    height: 12px;
    width: 11px;
    z-index: 10;
}



