@charset "UTF-8";

#wrap_reserve{}

#header{}

#container{}

/*---------------------- header ----------------------*/
.reserve_title{}

.reserve_title h1{}

.reserve_title h2{}

.reserve_step{}
.reserve_step li{}
.reserve_step li span{}
/*---------------------- /header ----------------------*/
/*---------------------- container ----------------------*/

.reserve_content{}
.reserve_left{}
.reserve_right{}

/*--------- reserve_left ---------*/
  /* step3*/

        .reserve_content3{
        /*  border: 1px solid; border-color: chartreuse;*/
            width: 100%; height: 100%;
            box-sizing: border-box;
        }

        .reserve_content3 .reserve_left {
                   box-sizing: border-box;
                    overflow-y: auto;
                    float: left;
                    position: relative;
                    width: 70%; height: 100%;
                    padding: 20px;
                    border-right: 1px solid #dedede;
                    background: #f4f4f4;
                    font-size: 12px;
        }

        .reserve_left .reserve_step3 .title {
            display: inline-block;
            margin-bottom: 5px;
            padding-top:20px;
        }
        /*확인란 안에 테이블*/
        .reserve_left .reserve_step3 table {
            width: 100%;
            background: #fff;
            letter-spacing: 0;
            font-size:15px;
        }
       caption {
            visibility: hidden;
            overflow: hidden;
            width: 0;
            height: 0;
            font-size: 0;
            line-height: 0;
        }
        
        .color_red {
            color: #ec2f09 !important;
        }
        .blind {
            display: block;
            visibility: hidden;
            overflow: hidden;
            position: absolute;
            top: -1000em;
            left: 0;
        }
        td .input_block {
            margin: 10px 0;
        }
        /*번호, 이메일 입력란*/
        input[type=text].input, input[type=password].input {
            border: 1px solid #bebebe;
            padding: 1px 10px;
            height: 24px;
            line-height: 100%;
            vertical-align: middle;
        }
        .customer_check .input_block_lst {
            margin-top: 0;
            border: 1px solid #dedede;
            padding: 0px;
            font-size:13px;
        }
        
        .input_block_lst label {
            line-height: 18px;
        }
        /*예매자 확인=>아래 테이블*/
        .customer_check .input_block_lst li {
            position: relative;
            margin-top: 0;
            padding: 13px 19px 12px 25px;
            border-top: 1px solid #dedede;
            background-color: #fff;
            list-style: none;
        }
        .title{
            margin-top: 20px;
        }
       
/*--------- /reserve_left ---------*/
/*--------- reserve_right ---------*/



.reserve_btn{}
/*--- reserve_btn ---*/
.reserve_btn>a{}
.reserve_btn>a>span{}
/*--- /reserve_btn ---*/

/*--------- /reserve_right ---------*/

/*---------------------- /container ----------------------*/



/*---reserve_prdt_info---*/

.title{
    border: 1px dashed; border-color: gray;
    width: 100%; height: 100%;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 230%;
    padding: 0;
}

/*---/reserve_prdt_info---*/



    .top_info_area{
        border: 1px dashed; border-color: gray;
        width: 100%; height: 28%;
        box-sizing: border-box;
    }
    
    .reserve_right>div:nth-child(2){
        border: 1px dashed; border-color: gray;
        width: 100%; height: 55%;
        box-sizing: border-box;
    }
    .reserve_right>div:nth-child(3){
        border: 1px dashed; border-color: gray;
        width: 100%; height: 5%;
        box-sizing: border-box;
    }

    
    
    .reserve_right>div:nth-child(2)>.bx_tit{
        border: 3px dotted; border-color: aqua;
        box-sizing: border-box;
        width: 100%; height: 25px;
    }
    .reserve_right .bx_tit h4{
/*        border: 3px solid; border-color: blue;*/
        display: inline;
        margin: 0;
    }
    .reserve_right .bx_tit>a,
    .reserve_right .bx_tit>p{
/*        border: 3px dashed; border-color: red;*/
        float: right; margin: 0;
        display: inline;
        font-size: 14px;
    }
    #select_seat_grade{
/*        border: 3px solid; border-color: blue;*/
        margin: 0; padding: 10px;
        list-style: none;
    }
    
    
    
    