@charset "UTF-8";
/*추가*/
#wrap_reserve{}

#header{}

#container{}

/*---------------------- header ----------------------*/
.reserve_title{}

.reserve_title h1{}

.reserve_title h2{}

.reserve_step{}
.reserve_step li{}
.reserve_step li span{}

    /*--reserve_step li--*/
    .reserve_step li[class=step3]{
        background-color: skyblue;
        color: white;
    }
    /*--/reserve_step li--*/

/*---------------------- /header ----------------------*/
/*---------------------- container ----------------------*/

.reserve_content{}
.reserve_left{}
.reserve_right{}

/*--------- reserve_left ---------*/
  /* step3*/

        .reserve_content3{
        /*  border: 1px solid; border-color: chartreuse;*/
            width: 100%; height: 100%;
            box-sizing: border-box;
        }

        .reserve_content3 .reserve_left {
            box-sizing: border-box;
            overflow-y: auto;
            float: left;
            position: relative;
            width: 70%; height: 100%;
            padding: 20px;
            padding-top: 0px;
            background: #f4f4f4;
            font-size: 12px;
        }

        .reserve_left .reserve_step3 .title {
            display: inline-block;
            margin-bottom: 5px;
/*            padding-top:20px;*/
            font-size: 18px;
            margin-top: 20px;
        }
        /*확인란 안에 테이블*/
        .reserve_left .reserve_step3 table {
            width: 100%;
            background: #fff;
            letter-spacing: 0;
            font-size:15px;
        }
       caption {
            visibility: hidden;
            overflow: hidden;
            width: 0;
            height: 0;
            font-size: 0;
            line-height: 0;
        }
        
        .color_red {
            color: #ec2f09 !important;
        }
        .blind {
            display: block;
            visibility: hidden;
            overflow: hidden;
            position: absolute;
            top: -1000em;
            left: 0;
        }
        td .input_block {
            margin: 10px 0;
        }
        /*번호, 이메일 입력란*/
        input[type=text].input, input[type=password].input {
            border: 1px solid #bebebe;
            padding: 1px 10px;
            height: 24px;
            line-height: 100%;
            vertical-align: middle;
        }
        .input_block_lst {
            margin-top: 0;
            border: 1px solid #dedede;
            padding: 0px;
            font-size:13px;
        }
        
        .input_block_lst label {
            line-height: 18px;
        }
        /*예매자 확인=>아래 테이블*/
        .input_block_lst li {
            position: relative;
            margin-top: 0;
            padding: 13px 19px 12px 25px;
            border-top: 1px solid #dedede;
            background-color: #fff;
            list-style: none;
        }
       
/*--------- /reserve_left ---------*/
/*--------- reserve_right ---------*/

.top_info_area{
/*    border: 2px dashed; border-color: gainsboro;*/
    width: 100%; height: 17%;
    box-sizing: border-box;
/*    padding: 0px;*/
}

.reserve_result{
/*    border: 2px dashed; border-color: gainsboro;*/
    width: 100%; height: 71%;
    box-sizing: border-box;
}

.reserve_btn{}
    
    /*--- top_info_area ---*/
    #mini_poster {
        width: 50px;
        float: left;
        padding-top: 5px;
        margin-right: 15px;
    }
    #mini_poster img{
        width:50px;
        margin-top: 10%;
    }
    #mini_show_title{
/*        background-color: red;*/
        float: left;
        margin-top: 20px;
    }
    /*--- /top_info_area ---*/
    /*--- reserve_result ---*/
    #reserve_res_tit{
/*        border: 1px solid; border-color: red;*/
        width: 100%; height: 6%;
        font-weight: 600;
        font-size: 15px;
        padding-left: 20px;
        padding-top: 0px;
        box-sizing: border-box;
    }
    .reserve_result hr{
        border: 1px solid; border-color: gainsboro;
        width: 90%;        
    }
    #select_seat_grade{
      border: 1px solid; border-color: gainsboro;
        margin: 0; padding: 10px;
        width: 90%; height: 30%;
        margin-left: 5%;
        box-sizing: border-box;
        list-style: none;
    }
    #reserve_info {
/*        border: 2px solid; border-color: red;*/
        width: 100%; height: 55%;
        box-sizing: border-box;
        padding-top: 20px;
    }

        /*-- #select_seat_grade --*/
        #select_seat_grade li {
/*            border: 2px dashed; border-color: aqua;*/
            width: 90%; height: 12px;
            margin-left: 5%;
            margin-bottom: 5px;
            box-sizing: border-box;
            font-size: 12px;
        }
        .seat_color,
        .seat_detail_info{
/*            border: 3px dashed; border-color: greenyellow;*/
            box-sizing: border-box;
            float: left;
        }
        .seat_color{
/*            border: 3px dashed; border-color: greenyellow;*/
            width: 12px; height: 12px;
            margin-top: 0px;
            margin-right: 7px;
        }
        .seat_detail_info{
/*            border: 3px dashed; border-color: blue;*/
            width: 195px; height: 100%;
        }
        .seat_grade{
/*            border: 1px dotted; border-color: red;*/
            float: left;
            margin-right: 15px;
        }
        .seat_no{
            float: right;
        }
        /*-- /#select_seat_grade --*/
        /*-- #reserve_info --*/
        #reserve_info div {
/*            border: 1px dashed; border-color: aqua;*/
            widows: 100%; height: 25px;
            box-sizing: border-box;
        }
        #reserve_info strong {
/*            background-color: greenyellow;*/
            float: left;
            margin: 0px;
            margin-left: 20px;
            font-size: 15px;
        }
        #reserve_info span {
/*            background-color: yellow;*/
            float: right;
            margin: 0px;
            margin-right: 20px;
            font-size: 15px;
        }
        #reserve_info hr {
            border: 0.5px solid; border-color: gainsboro;
            width: 90%;
            margin-top: 5px; margin-bottom: 7px;
            margin-left: 5%;
        }
        #reserve_info hr[id=final_hr] {
            border: 1px solid; border-color: gainsboro;
            width: 90%;
            margin-top: 5px; margin-bottom: 7px;
            margin-left: 5%;
        }
        /*-- /#reserve_info --*/
    
    
    /*--- reserve_btn ---*/
    .reserve_btn>a{}
    .reserve_btn>a>span{}
    /*--- /reserve_btn ---*/

/*--------- /reserve_right ---------*/

/*---------------------- /container ----------------------*/




