@charset "UTF-8";

#wrap_reserve{}

#header{}

#container{}

/*---------------------- header ----------------------*/
.reserve_title{}

.reserve_title h1{}

.reserve_title h2{}

.reserve_step{}
.reserve_step li{}
.reserve_step li span{}
/*---------------------- /header ----------------------*/
/*---------------------- container ----------------------*/

.reserve_content{}
.reserve_left{}
.reserve_right{}

/*--------- reserve_left ---------*/
.reserve_prdt_info{
/*  border: 1px solid; border-color: cyan;*/
    width: 100%; height: 10%;
    box-sizing: border-box;
}
#main_view_top{
    border: 1px solid; border-color: gray;
    width: 100%; height: 90%;
    box-sizing: border-box;
}
    /*-- reserve_prdt_info --*/
    .etc_info{
        border: 1px dotted; border-color: gray;
        float: right;
    }
    .title{
        border: 1px dashed; border-color: gray;
        width: 100%; height: 100%;
        box-sizing: border-box;
        font-size: 22px;
        line-height: 230%;
        padding: 0;
    }
    .prdt{
        border: 1px dotted; border-color: grey;
        margin: 0;
        width: 100%; height: 100%;
        box-sizing: border-box;
    }
    /*-- /reserve_prdt_info --*/
    /*-- main_view_top --*/
    #main_view{
        border: 1px dashed; border-color: gray;
        width: 100%; height: 90%;
        box-sizing: border-box;
    }
    .select_seat_info{
        border: 1px dashed; border-color: gray;
        width: 100%; height: 10%;
        box-sizing: border-box;
    }
    /*-- /main_view_top --*/

/*--------- /reserve_left ---------*/
/*--------- reserve_right ---------*/

.top_info_area{
    border: 1px dashed; border-color: gray;
    width: 100%; height: 28%;
    box-sizing: border-box;
}

.reserve_right>div:nth-child(2){
    border: 1px dashed; border-color: gray;
    width: 100%; height: 55%;
    box-sizing: border-box;
}

.reserve_right>div:nth-child(3){
    border: 1px dashed; border-color: gray;
    width: 100%; height: 5%;
    box-sizing: border-box;
}

.reserve_btn{}

    /*-- .reserve_right>div:nth-child(2) --*/
    .reserve_right>div:nth-child(2)>.bx_tit{
        border: 3px dotted; border-color: aqua;
        width: 100%; height: 25px;
        box-sizing: border-box;
    }
    #select_seat_grade{
/*      border: 3px solid; border-color: red;*/
        margin: 0; padding: 10px;
        list-style: none;
    }
    /*-- /.reserve_right>div:nth-child(2) --*/


    /*-- .reserve_right>div:nth-child(2) --*//*공통*/
    /*-- .reserve_right>div:nth-child(3) --*//*공통*/
    .reserve_right .bx_tit h4{
    /*        border: 3px solid; border-color: blue;*/
        display: inline;
        margin: 0;
    }
    .reserve_right .bx_tit>a,
    .reserve_right .bx_tit>p{
    /*  border: 3px dashed; border-color: red;*/
        float: right; margin: 0;
        display: inline;
        font-size: 14px;
    }
    /*-- /.reserve_right>div:nth-child(2) --*//*공통*/
    /*-- /.reserve_right>div:nth-child(3) --*//*공통*/


    /*--- reserve_btn ---*/
    .reserve_btn>a{}
    .reserve_btn>a>span{}
    /*--- /reserve_btn ---*/

/*--------- /reserve_right ---------*/

/*---------------------- /container ----------------------*/








#divGuide {
    margin: 0px;
    padding: 0px;
}

#divGuide div{
    display: block;
}

/*
#divSeatArray{
    width: 100%; height: 100%;
    background-color: aqua;
}
*/

/*
element.style {
    LEFT: 214px;
    TOP: 78px;
}
*/

.s6 {
    position: absolute;
    background: url(http://tkfile.yes24.com/images/ticket_new/ic_seat6.gif) no-repeat;
    height: 12px;
    width: 11px;
    z-index: 10;
}

/*
.s13 {
    position: absolute;
    background: url(http://tkfile.yes24.com/images/ticket_new/ic_seat13.gif) no-repeat;
    height: 12px;
    width: 11px;
    z-index: 10;
}

.s8 {
    position: absolute;
    background: url(http://tkfile.yes24.com/images/ticket_new/ic_seat6.gif) no-repeat;
    height: 12px;
    width: 11px;
    z-index: 10;
}*/



