@charset "UTF-8";

    
    ul, li{list-style: none; display: block; text-decoration-line: none;}
    a{text-decoration: none; color: black;}
    
    div{box-sizing: border-box;}
    
    .f_inner{width: 990px;margin: 0px auto;}