@charset "UTF-8";

#wrap_reserve{}

#header{}

#container{}

/*---------------------- header ----------------------*/
.reserve_title{}

.reserve_title h1{}

.reserve_title h2{}

.reserve_step{}
.reserve_step li{}
.reserve_step li span{}
/*---------------------- /header ----------------------*/
/*---------------------- container ----------------------*/

.reserve_content{}
.reserve_left{}
.reserve_right{}

/*--------- reserve_left ---------*/
#content_left{
    width:100%;
    height:100%;
    display: block;
    border:5px solid; border-color: darkturquoise;
    box-sizing: border-box;
    float:left;
    background-color: #F3F3F3;
}
#ct_left_top{
    width:95%;
    height:45%;
    margin-left: 2.5%;
    background-color: white;
    display: block;
    position: relative;
}
#ct_left_btm{
    border: 1px dashed; border-color: black;
    width: 100%; height: 55%;
    box-sizing: border-box;
}
/*--- content_left ---*/
#ct_left_1{
    width:30%;
    height:90%;
    display: block;
    position: relative;
    background-color:#F3F3F3;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
}
#ct_left_2{
    width:30%;
    height:90%;
    background-color:#F3F3F3;
    float:left;
    margin-right: 2.5%;
    text-align: center;
}
#ct_left_3{
    width:30%;
    height:90%;
    background-color:#F3F3F3;
    float: left;
    text-align: center;
}
/*--- /content_left ---*/
/*--- ct_left_btm ---*/
.title_notice{
    display: inline-block;
    font-size:11px;
    height:14px;
    line-height: 14px;
    margin-top:20px;
    margin-left: 10px;
    margin-bottom:7px;
}
.notice{
    width:100%;
    height:180px;
    display:block;
    padding-left: 10px;
    font-size:11px;
    list-style: none;
}
/*--- /ct_left_btm ---*/

/*--------- /reserve_left ---------*/
/*--------- reserve_right ---------*/

/*--- top_info_area ---*/
.top_info_area{
    border: 2px dashed; border-color: grey;
    width: 100%; height: 15%;
    box-sizing: border-box;
}
/*--- /top_info_area ---*/
/*--- reserve_artbx ---*/
.reserve_artbx{
    border: 2px dashed; border-color: grey;
    width: 100%; height: 73%;
    box-sizing: border-box;
}
/*--- /reserve_artbx ---*/


.reserve_btn{}
/*--- reserve_btn ---*/
.reserve_btn>a{}
.reserve_btn>a>span{}
/*--- /reserve_btn ---*/

/*--------- /reserve_right ---------*/

/*---------------------- /container ----------------------*/














